<header>
  <h1 class="main-title">Little Esty Shop</h1>

  <div class="sub-header">
    <h2 class="page-title">Admin Dashboard</h2>
    <nav class="navigation">
      <%= link_to "Dashboard", admin_index_path %>
      <%= link_to "Merchants", admin_merchants_path %>
      <%= link_to "Invoices", admin_invoices_path %>
    </nav>
  </div> 
</header>

<h3 class="invoice-header">Invoices</h3>
<% @invoices.each do |invoice| %>
  <%= link_to "Invoice ##{invoice.id}", "/admin/invoices/#{invoice.id}" %><br>
<% end %>