<h3>Edit Merchant Information</h3>
<%= render partial: 'form', locals: {path: "/admin/merchants/#{@merchant.id}", method: :patch, button_text: "Edit Merchant", merchant_name: "#{@merchant.name}" , has_status: false} %>