<h1>Create your item</h1>

<%= render partial: 'form', locals: {path: "/merchants/#{@merchant.id}/items/#{@item.id}", method: :patch, button_text: "Update Item", item_name: "#{@item.name}", item_description: "#{@item.description}", item_unit_price: "#{@item.unit_price}", has_status: false} %>