<h1>Create a new item</h1>


<%= render partial: 'form', locals: {path: merchant_items_path(params[:merchant_id]), method: :post, button_text: "Submit", item_name: '' , item_description: '', item_unit_price: false, has_status: true } %>