<header>
<h1 class="main-title">Welcome to Little Esty Shop</h1>

<div class="sub-header">
  <h2 class="page-title">Collaborators: </h2>
</div> 

</header>
<br>
<br>
<main>
  <p><font size="+1">Leo Banos Garcia</p>
  <p>Matisse Mallette</p>
  <p>Kelsie Porter</p>
  <p>Anhnhi Tran</p></font>
</main>

